<!DOCTYPE html>
<html lang="en">
<%- include('../template/head')-%>
    <%- include('../template/header')-%>
        <div class="mb-20 lg:-mb-0">
            <div class="flex w-full my-4 flex-col lg:flex-row lg:my-8">
                <div class="my-2 w-full flex justify-center items-center lg:w-6/12">
                    <div class="w-9/12">
                        <img src="./img/marilyn.svg" class="object-cover">
                    </div>
                </div>
                    
                <div class="my-2 w-full flex justify-center items-center lg:w-6/12">
                    <div class="w-10/12 flex flex-col justify-center items-center">
                        <h2 class="text-3xl font-semibold py-2.5">Ups!</h2>
                        <h3 class="text-3xl font-light py-2.5">Sometimes things are not what we expected</h2>
                        <p class="text-xl my-2 py-2 font-extralight self-start lg:text-lg lg:w-9/12">The page you are looking for might be removed or is temporarily unavailable</p>
                        <form action="/" class="self-start">
                            <button type="submit" class="py-4 px-3 my-4 bg-black text-white">Back to Homepage</button>
                        </form>
                    </div>
                </div>
            </div> 
        </div>
    </main>
    <%- include('../template/footer')-%>
</html>