<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"> -->
      <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Blog Example Page</title>
</head>
<body class="font-robo-mono">
    
    <header class="w-screen flex justify-center">
        <div class="w-10/12 md:w-7/12 flex flex-col gap-y-8 pt-8 md:pt-14">
            <div class="flex flex-col">
                <h1 class="text-xl md:text-4xl font-bold pb-4">Classic Cheescake Recipe</h1>
                <div class="flex flex-row lg:w-7/12 text-black text-opacity-70">
                    <span class="material-icons-outlined">
                        blur_on
                    </span>
                    <p class="text-xs italic">To me, classic cheesecake is creamy, silky, and smooth.When I imagine what Chandler and Rachel’s stolen cheesecake tastes like, it’s this!</p>
                </div>
            </div>
            <div class="">
                <img src="./img/recipe1.png" alt="Cheescake">
            </div>
        </div>
    </header>

    <main class="w-screen flex justify-center py-9">
        <div class="w-10/12 md:w-7/12 flex flex-col lg:flex-row">
        
            <!-- Ingredients -->

            <div class="w-full lg:w-8/12 order-2 py-4 lg:order-1">
                <div class="">
                    <h2 class="text-xl lg:text-2xl py-2 font-bold">Ingredients</h2>

                    <h3 class="py-4 text-xl text-black text-opacity-50  italic">Graham Cracker Crust</h3>

                    <div class="py-2">
                        <input type="checkbox" name="item1" id="item1" style="width: 1rem; height: 1rem;">
                        <label for="item1">1 and 1/2 cups (150g) <span class="font-bold">graham cracker crumbs</span>(about 10 full sheet graham crackers)</label>
                        
                    </div>

                    <div class="py-2">
                        <input type="checkbox" name="item2" id="item2" style="width: 1rem; height: 1rem;">
                        <label for="item2">5 Tablespoons (70g) <span class="font-bold">unsalted butter</span>, melted</label>
                    </div>

                    <div class="py-2">
                        <input type="checkbox" name="item3" id="item3" style="width: 1rem; height: 1rem;">
                        <label for="item3">1/4 cup (50g) <span class="font-bold">granulated sugar</span></label>
                    </div>

                    <h3 class="py-4 text-xl text-black text-opacity-50  italic">Cheescake</h3>

                    <div class="py-2">
                        <input type="checkbox" name="cheese1" id="cheese1" style="width: 1rem; height: 1rem;">
                        <label for="cheese1">four 8-once blocks (904g) full-fat<span class="font-bold"> cream cheese </span>,softened to room temperatur</label>
                        
                    </div>

                    <div class="py-2">
                        <input type="checkbox" name="cheese2" id="cheese2" style="width: 1rem; height: 1rem;">
                        <label for="cheese2">1 cup (200g) <span class="font-bold">granulated sugar</span></label>
                    </div>

                    <div class="py-2">
                        <input type="checkbox" name="cheese3" id="cheese3" style="width: 1rem; height: 1rem;">
                        <label for="cheese3">1 cup (240g) full-fat <span class="font-bold">sour cream</span>, at room temperature</label>
                    </div>
                    
                    <div class="py-2">
                        <input type="checkbox" name="cheese4" id="cheese4" style="width: 1rem; height: 1rem;">
                        <label for="cheese4">1 teaspoon<span class="font-bold">pure vanilla extract</span></label>
                    </div>

                    <div class="py-2">
                        <input type="checkbox" name="cheese5" id="cheese5" style="width: 1rem; height: 1rem;">
                        <label for="cheese5">2 teaspoons <span class="font-bold">fresh lemon juice </span>(optional, but recommended)</label>
                    </div>

                    <div class="py-2">
                        <input type="checkbox" name="cheese6" id="cheese6" style="width: 1rem; height: 1rem;">
                        <label for="cheese6">3 large <span class="font-bold">eggs</span>,at room temperature</label>
                    </div>

                    <div class="py-2">
                        <input type="checkbox" name="cheese7" id="cheese7" style="width: 1rem; height: 1rem;">
                        <label for="cheese7">topping suggestions: <span class="font-semibold text-black text-opacity-60">salted caramel, lemon curd, strawberry topping, chocolate ganache, red wine chocolate ganache, fresh fruit, whipped cream, or rasperry sauce</span>(recipe in notes)</label>
                    </div>

                </div>

                <!-- Instructions -->

                <div class="">

                </div>

            </div>

<!-- Side Menu -->

            <div class="w-full lg:w-4/12 order-1 lg:order-2 lg:flex lg:justify-end">

                <div class="w-12/12 lg:w-9/12 pb-4  lg:p-8 rounded lg:shadow-md flex flex-col justify-center items-start lg:items-center ">

                    <div class="flex flex-row items-center py-4">
                        <div>
                            <span class="material-icons-outlined text-yellow-600">
                                restaurant_menu
                            </span>
                        </div>
                        <div class="pl-2">
                            <p class="text-xs  text-black text-opacity-50">YIELDS</p>
                            <p class="text-base text-yellow-600	">12 servings</p>
                        </div>
                    </div>

                    <div class="w-full flex flex-row lg:flex-col justify-between lg:items-center lg:justify-center">


                        <div class="flex flex-row items-center py-4">
                            <div>
                                <span class="material-icons-outlined text-xl lg:text-3xl ">
                                    schedule
                                </span>
                            </div>
                            <div class="pl-2 pr-4 lg:pr-2">
                                <p class="text-xs  text-black text-opacity-50">PREP TIME</p>
                                <p class="text-sm">45 minutes</p>
                            </div>
                        </div>

                        <div class="flex flex-row items-center py-4">
                            <div>
                                <span class="material-icons-outlined text-xl lg:text-3xl">
                                    schedule
                                </span>
                            </div>
                            <div class="pl-2 pr-8 lg:pr-4">
                                <p class="text-xs  text-black text-opacity-50">COOK TIME</p>
                                <p class="text-sm">1:00 hour</p>
                            </div>
                        </div>

                        <div class="flex flex-row items-center py-4">
                            <div>
                                <span class="material-icons-outlined text-xl lg:text-3xl">
                                    schedule
                                </span>
                            </div>
                            <div class="pl-2 pr-4 lg:pr-2">
                                <p class="text-xs  text-black text-opacity-50">TOTAL TIME</p>
                                <p class="text-sm">7,75 hours</p>
                            </div>
                        </div>


                    </div>

                </div>
            </div>

        </div>
    </main>

    <footer></footer>

</body>
</html>