<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"> -->
      <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Blog Example Page</title>
</head>
<body class="font-robo-mono">
    
    <header class="w-screen flex justify-center">
        <div class="w-10/12 md:w-7/12 flex flex-col gap-y-8 pt-8 md:pt-14">
            <div class="flex flex-col">
                <h1 class="text-xl md:text-4xl font-bold pb-4">Classic Cheescake Recipe</h1>
                <div class="flex flex-row lg:w-7/12 text-black text-opacity-70">
                    <span class="material-icons-outlined">
                        blur_on
                    </span>
                    <p class="text-xs italic">To me, classic cheesecake is creamy, silky, and smooth.When I imagine what Chandler and Rachel’s stolen cheesecake tastes like, it’s this!</p>
                </div>
            </div>
            <div class="">
                <img src="./img/recipe1.png" alt="Cheescake">
            </div>
        </div>
    </header>

    <main class="w-screen flex justify-center py-9">
        <div class="w-10/12 md:w-7/12 flex flex-col lg:flex-row">
            <div class="w-full lg:w-8/12 order-2 lg:order-1">
            w4te4gere
            </div>
            <div class="w-full lg:w-5/12 order-1 lg:order-2">
                <div class="w-10/12 p-4 lg:shadow-md flex flex-col justify-center items-center">
                    <div class="flex flex-row items-center">
                        <div>
                            <span class="material-icons-outlined text-yellow-600">
                                restaurant_menu
                            </span>
                        </div>
                        <div class="pl-2">
                            <p class="text-xs  text-black text-opacity-50">YIELDS</p>
                            <p class="text-base text-yellow-600	">12 servings</p>
                        </div>
                    </div>
                    <div class=""></div>
                </div>
            </div>
        </div>
    </main>

    <footer></footer>

</body>
</html>