<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/hamburger_menu.css">
    <title>Interior Consultant</title>
</head>
<body class="font-robo-mono bg-black text-white">
    <header>
       <nav class="w-screen	flex flex-row justify-between">
            <!-- Logo -->
            <div class="w-7/12 md:w-4/12 p-8 ml-2 md:ml-4 flex   items-center justify-start">
                <div class="p-2 md:p-2 border-2 flex flex-row items-center justify-center">
                    <h1 class="text-xs md:text-base">This Interior</h1>
                </div>
            </div>
            <!-- Desktop Menu -->
            <div class="hidden md:flex w-6/12 p-8 justify-around items-center">
                <div class="px-0.5 border-b-2 rounded-b-sm border-transparent hover:border-white">
                    <a href="#">Home </a>
                </div>
                <div class="px-0.5 border-b-2 rounded-b-sm border-transparent hover:border-white">
                    <a href="#">Collection </a>
                </div>
                <div class="px-0.5 border-b-2 rounded-b-sm border-transparent hover:border-white">
                    <a href="#">About </a>
                </div>
                <div class="px-0.5 border-b-2 rounded-b-sm border-transparent hover:border-white">
                    <a href="#">Contact </a>
                </div>
            </div>
            <!-- Mobile Menu -->
            <div class="md:hidden w-5/12 flex items-center justify-end">
                
                <div class="relative pr-2" id="Mobile_menu">
                
                    <input type="checkbox" id="openMenu">
                   
                    <div id="span_div">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    
                    <div id="bigMenu">
                        <div id="flexBigMenu">
                            <ul id="menuB">
                                <a href="#" class="text-xl"><li>Home</li></a>
                                <a href="#" class="text-xl"><li>About</li></a>
                                <a href="#" class="text-xl"><li>Info</li></a>
                                <a href="#" class="text-xl"><li>Contact</li></a>
                               <a href="#" class="text-xl"><li>Show me more</li></a>
                              </ul>
                        </div>
                    </div>

                </div>

            </div>

       </nav>
    </header>
</body>
</html>