<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Masonry Css Practice</title>
</head>
<body class="font-robo-mono">
    <header></header>
    <main class="w-screen py-8 flex flex-col justify-center items-center">

        <!-- Profile Pic Zone -->
        <div class="w-10/12 flex flex-col justify-center items-center">
            <div class="min-h-6rem max-h-6rem min-w-7rem max-w-7rem mb-4">
                <img src="/img/masonryPic.png" alt="profilePic" class="rounded-3xl object-cover"
                >
            </div>
            <div class="">
                <h1 class="text-lg">Rodney Cotton</h1>
                <p class="text-center text-black text-opacity-60" style="font-size: 0.6rem;">Heisinki, Findland</p>
            </div>

            <!-- Info Profile 3 Divs -->

            <div class=""></div>
            
        </div>


        <!-- Masonry Zone -->

        <div class="w-10/12 flex flex-col justify-center items-center">
        
        </div>

    </main>
    <footer></footer>
</body>
</html>