<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Team Page</title>
</head>
<body class="relative font-robo-mono">
    
    <header class="w-screen flex justify-center">
        <div class="w-10/12 pt-12 pb-8 flex flex-col lg:flex-row">
            <div class="w-11/12 pb-4 flex justify-start items-center lg:justify-center">
                <h1 class="text-2xl font-bold lg:text-3xl">Meet the Crew</h1>
            </div>
            <div class="w-11/12 py-5 flex flex-col">
                <h3 class="font-semibold text-lg pb-2 lg:text-xl">Who we are</h3>
                <p class="text-sm md:text-base lg:text-base">We are a team of creatively diverse, driven, innovative individuals working in various locations from the world</p>
            </div>
        </div>
    </header>
    
    <main class="w-full flex justify-center min-h-90min">
        <div class="w-10/12 grid grid-cols-2 lg:grid-cols-3 gap-0.5 lg:gap-5 ">

            <div class="w-11/12 flex flex-row gap-4">
                <div class="w-10/12">
                    <img class="bg-cover" src="./img/photo1.png" alt="product-owner">
                    <p class="pt-2.5 lg:pt-6 text-sm md:text-base font-semibold">Hadi Burns</p>
                </div>
                <div class="w-1/12" style="writing-mode: vertical-rl">
                    <p class="text-xs md:text-base lg:text-base">PRODUCT OWNER</p>
                </div>
            </div>


            <div class="w-11/12 flex flex-row pt-6 md:pt-12 lg:pt-16 flex-end gap-4">
                <div class="w-10/12">
                    <img class="bg-cover" src="./img/photo2.png" alt="Art Director">
                    <p class="pt-2.5 lg:pt-6 text-sm md:text-base font-semibold">Mikaela Ferry</p>
                </div>
                <div class="w-1/12" style="writing-mode: vertical-rl">
                    <p class="text-xs md:text-base lg:text-base">ART DIRECTOR</p>
                </div>
            </div>


            <div class="w-11/12 flex flex-row gap-4">
                <div class="w-10/12">
                    <img class="bg-cover" src="./img/photo3.png" alt="TechLead">
                    <p class="pt-2.5 lg:pt-6 text-sm md:text-base font-semibold">Joshua Vance</p>
                </div>
                <div class="w-1/12" style="writing-mode: vertical-rl">
                    <p class="text-xs md:text-base lg:text-base">TEACHLEAD</p>
                </div>
            </div>


            <div class="w-11/12 flex flex-row gap-4 pt-6 md:pt-12 lg:pt-0">
                <div class="w-10/12">
                    <img class="bg-cover" src="./img/photo4.png" alt="product-owner">
                    <p class="pt-2.5 lg:pt-6 text-sm md:text-base font-semibold">Rianna Forbes</p>
                </div>
                <div class="w-1/12" style="writing-mode: vertical-rl">
                    <p class="text-xs md:text-base lg:text-base">UX DESIGNER</p>
                </div>
            </div>


            <div class="w-11/12 flex flex-row gap-4 pt-0 md:pt-0 lg:pt-16">
                <div class="w-10/12">
                    <img class="bg-cover" src="./img/photo5.png" alt="product-owner">
                    <p class="pt-2.5 lg:pt-6 text-sm md:text-base font-semibold">Chaim Michael</p>
                </div>
                <div class="w-1/12" style="writing-mode: vertical-rl">
                    <p class="text-xs md:text-base lg:text-base">DEVELOPER</p>
                </div>
            </div>


            <div class="w-11/12 flex flex-row gap-4  pt-6 md:pt-12 lg:pt-0">
                <div class="w-10/12">
                    <img class="bg-cover" src="./img/photo6.png" alt="product-owner">
                    <p class="pt-2.5 lg:pt-6 text-sm md:text-base font-semibold">Danielius Regan</p>
                </div>
                <div class="w-1/12" style="writing-mode: vertical-rl">
                    <p class="text-xs md:text-base lg:text-base">DEVELOPER</p>
                </div>
            </div>


        
        </div>
    </main>
    
    <footer class="w-full flex justify-center mt-20">
        <div class="w-10/12 py-6 flex justify-center">
        <p>Created by Ian Vass</p>
        </div>
    </footer>

</body>
</html>