    <footer class="w-full h-10 flex justify-center mb-4">
        <div class="w-10/12 text-center">
            <p class="font-thin text-sm lg:text-base"><%= context.footer_text %> </p>
        </div>
    </footer>
</body>