<body class="relative min-h-screen font-robo-mono">
    <header class="flex justify-evenly">
            <div class="w-9/12 p-5 lg:w-6/12">    
                <a href="/">
                    <h2 class="font-press-start text-xl"><%= context.header_title %></h2>
                </a>
            </div>
            <div class="w-8	lg:w-6/12">
            </div>
    </header>
    <main class="min-h-80min">